APP_CODE=habita
FRONTEND_URL=http://localhost:5173/

SERVER_HOST=0.0.0.0
SERVER_PORT=3000
NODE_ENV=development

JWT_SECRET=altere-esta-chave-jwt-do-habita

DATABASE_URL="postgresql://webadm:A123456@0.0.0.0:5432/habita"
DATABASE_LOG_REQUESTS=true

GRAPHQL_DEBUG=true
GRAPHQL_INTROSPECTION=true
GRAPHQL_PLAYGROUND=true
GRAPHQL_CORS=false
GRAPHQL_LOG_REQUESTS=true
GRAPHQL_SCHEMA_FILE=src/schema.gql

LOGGER_TARGET=stdout
LOGGER_LEVEL=info
